body {
    display: grid;
    grid-template-columns: 20% 75% 5%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
}

nav {
    background-color: #4a4a4896;

}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: greencoolers;
    padding: 0;
    width: 100%;
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

img {
    width: 10%;
    border-radius: 42%;
    padding: 196px 19%;
}