* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #39304A;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav {
    background-color: #635C51;
}

main {
    background-color: #202030;
    color: white;
    grid-area: main;
    height: 50vh;
}

aside {
    background-color: #7D7461;
    grid-area: aside;
}

footer {
    background-color: #B0A990;
    color: white;
    grid-area: footer;
}